# PLANTILLA TRANSFORMACIÓN DE DATOS

**IMPORTANTE**: Recuerda hacer una copia de esta plantilla para no machacar la original.

1.Hacerlo todo con sckitlearn

2.Muchas de estas partes son opcionales, no hay que hacerlo todo.

3.Separar y unir dataframes, uno por cada proceso, dfOHE, por ejemplo.

4.Seleccionar qué variables y aplicarle el proceso (puede que una misma variable esté en varios procesos)

## IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from category_encoders import TargetEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import QuantileTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler

#Automcompletar rápido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

1.- Sustituir la ruta del proyecto.

In [30]:
ruta_proyecto = 'C:/Users/110927/Desktop/EstructuraDirectorio/03_MACHINE_LEARNING/CASOS/00_LeadScoring'

2.- Nombrar los ficheros de datos.

In [31]:
nombre_cat = 'cat_resultado_eda.pickle'
nombre_num = 'num_resultado_eda.pickle'

3.- Cargar los datos.

In [35]:
cat = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_cat)
num = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_num)

4.- Separar la target.

In [36]:
target = num[['compra']].copy().reset_index(drop=True)

## TRANSFORMACIÓN DE CATEGÓRICAS

### One Hot Encoding

#### Variables a aplicar OHE

In [37]:
var_ohe = ['origen',
            'fuente',
             'ult_actividad',
             'ambito',
             'ocupacion',
             'descarga_lm']

#### Instanciar

In [38]:
ohe = OneHotEncoder(sparse = False, handle_unknown='ignore')

#### Entrenar y aplicar

In [39]:
cat_ohe = ohe.fit_transform(cat[var_ohe])

C:\Users\110927\AppData\Local\miniconda3\envs\leadscoring\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

#### Guardar como dataframe

In [40]:
cat_ohe = pd.DataFrame(cat_ohe, columns = ohe.get_feature_names_out())

In [42]:
num

,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
id,,,,,,
660737,0,0,0,0.0,15.0,15.0
660728,0,5,674,2.5,15.0,15.0
660727,1,2,1532,2.0,14.0,20.0
660681,1,2,1428,1.0,15.0,18.0
660680,0,0,0,0.0,17.0,15.0
...,...,...,...,...,...,...
579717,1,4,1944,2.0,14.0,17.0
579622,1,13,1409,2.6,14.0,17.0
579615,1,5,210,2.5,14.0,20.0
579546,0,2,238,2.0,14.0,19.0
579538,1,3,499,3.0,15.0,16.0

## UNIFICAR DATASETS TRANSFORMADOS

### Meter en una lista todos los dataframes generados

In [45]:
pd.concat([idx,cat_ohe], axis=1)

,id,origen_API,origen_Landing Page Submission,origen_Lead Add Form,origen_OTROS,fuente_Chat,fuente_Direct Traffic,fuente_Google,fuente_OTROS,fuente_Organic Search,...,ambito_Operations Management,ambito_Select,ambito_Supply Chain Management,ambito_Travel and Tourism,ocupacion_OTROS,ocupacion_Student,ocupacion_Unemployed,ocupacion_Working Professional,descarga_lm_No,descarga_lm_Yes
0,660737,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,660728,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,660727,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,660681,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,660680,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4832,579717,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4833,579622,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4834,579615,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4835,579546,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4836,579538,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [63]:
dataframes = []
dataframes.extend(value for name, value in locals().items() if name.startswith('cat_') or name.startswith('num_'))

### Unir todos los dataframes

In [64]:
df = pd.concat(dataframes, axis = 1)

## REESCALAR VARIABLES

### Con Min-Max

In [48]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4837 entries, 660737 to 579538
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   compra                 4837 non-null   int64
 1   visitas_total          4837 non-null   Int64
 2   tiempo_en_site_total   4837 non-null   int64
 3   paginas_vistas_visita  4837 non-null   float64
 4   score_actividad        4837 non-null   float64
 5   score_perfil           4837 non-null   float64
dtypes: Int64(1), float64(3), int64(2)
memory usage: 269.2 KB

#### Variables a reescalar con Min-Max

In [ ]:
num=num.drop(columns='compra')

In [73]:
var_mms = num.columns

#### Instanciar

In [74]:
mms = MinMaxScaler()

#### Entrenar y aplicar

In [75]:
df_mms = mms.fit_transform(num)

#### Guardar como dataframe

In [76]:
#Añadir sufijos a los nombres
nombres_mms = [variable + '_mms' for variable in var_mms]

#Guardar como dataframe
df_mms = pd.DataFrame(df_mms,columns = nombres_mms)

## UNIFICAR DATASETS REESCALADOS

### Crear una lista con los dataframes a incluir en el tablón analítico

In [77]:
incluir = [idx,df_mms, cat_ohe,target]

### Unir todos los dataframes en el tablón analítico

In [78]:
df_tablon = pd.concat(incluir, axis = 1)

In [79]:
df_tablon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4837 entries, 0 to 4836
Data columns (total 43 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   id                                        4837 non-null   int64
 1   visitas_total_mms                         4837 non-null   float64
 2   tiempo_en_site_total_mms                  4837 non-null   float64
 3   paginas_vistas_visita_mms                 4837 non-null   float64
 4   score_actividad_mms                       4837 non-null   float64
 5   score_perfil_mms                          4837 non-null   float64
 6   origen_API                                4837 non-null   float64
 7   origen_Landing Page Submission            4837 non-null   float64
 8   origen_Lead Add Form                      4837 non-null   float64
 9   origen_OTROS                              4837 non-null   float64
 10  fuente_Chat                               4837 non-null   float64
 11  fuente_Direct Traffic                     4837 non-null   float64
 12  fuente_Google                             4837 non-null   float64
 13  fuente_OTROS                              4837 non-null   float64
 14  fuente_Organic Search                     4837 non-null   float64
 15  fuente_Reference                          4837 non-null   float64
 16  ult_actividad_Chat Conversation           4837 non-null   float64
 17  ult_actividad_Converted to Lead           4837 non-null   float64
 18  ult_actividad_Email Link Clicked          4837 non-null   float64
 19  ult_actividad_Email Opened                4837 non-null   float64
 20  ult_actividad_OTROS                       4837 non-null   float64
 21  ult_actividad_Page Visited on Website     4837 non-null   float64
 22  ult_actividad_SMS Sent                    4837 non-null   float64
 23  ambito_Banking, Investment And Insurance  4837 non-null   float64
 24  ambito_Business Administration            4837 non-null   float64
 25  ambito_Finance Management                 4837 non-null   float64
 26  ambito_Human Resource Management          4837 non-null   float64
 27  ambito_IT Projects Management             4837 non-null   float64
 28  ambito_International Business             4837 non-null   float64
 29  ambito_Marketing Management               4837 non-null   float64
 30  ambito_Media and Advertising              4837 non-null   float64
 31  ambito_OTROS                              4837 non-null   float64
 32  ambito_Operations Management              4837 non-null   float64
 33  ambito_Select                             4837 non-null   float64
 34  ambito_Supply Chain Management            4837 non-null   float64
 35  ambito_Travel and Tourism                 4837 non-null   float64
 36  ocupacion_OTROS                           4837 non-null   float64
 37  ocupacion_Student                         4837 non-null   float64
 38  ocupacion_Unemployed                      4837 non-null   float64
 39  ocupacion_Working Professional            4837 non-null   float64
 40  descarga_lm_No                            4837 non-null   float64
 41  descarga_lm_Yes                           4837 non-null   float64
 42  compra                                    4837 non-null   int64
dtypes: float64(41), int64(2)
memory usage: 1.6 MB

## GUARDAR DATASET TRAS TRANSFORMACIÓN DE DATOS

En formato pickle para no perder las modificaciones de metadatos.

In [80]:
#Definir los nombres del archivo
ruta_df_tablon = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'df_tablon.pickle'

In [81]:
#Guardar los archivos
df_tablon.to_pickle(ruta_df_tablon)